Skip to content
Search or jump to…
Pull requests
Issues
Codespaces
Marketplace
Explore
 
@tecbeat 
tecbeat
/
tec_beat
Private
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# Web related

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json